.title-seguimiento{
    color:#00833C;
}
.form-seguimiento{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15% 15% 15% 15%;
}
.button-seguimiento{
    background-color:#00833C;
    border-radius:30px;
    border-color:transparent;
    height: 40px;
    width:150px;
    color:#FFFFFF;
}